<style>
  body {
    background-color: #f7f9fc;
  }
  .login-card {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 8px;
    position: relative;
    left: 500px;
    top: 110px;
  }
  .login-card .form-control {
    border-radius: 50px;
  }
  .login-card .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 50px;
    padding: 0.75rem 1.5rem;
  }
  .login-card .form-header {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: #333;
  }
  .login-card .forgot-password {
    text-align: right;
    display: block;
    margin-top: 0.75rem;
  }
</style>
<body>
  <div class="login-card">
    <div class="form-header text-center">Login</div>
    <form action="/loginAuth" method="post">
      <div class="form-group">
        <label for="email">Email address</label>
        <input
          name="email"
          type="email"
          class="form-control"
          id="email"
          placeholder="Enter email"
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          name="password"
          type="password"
          class="form-control"
          id="password"
          placeholder="Password"
        />
      </div>
      <button type="submit" class="btn btn-primary btn-block mt-4">
        Login
      </button>
    </form>
  </div>
</body>
